@media (min-width:576px)
{
    h3{
        color:rgb(103, 20, 236);
        text-decoration:underline;
        text-transform:capitalize ;
    }
}
@media(min-width:768)
{
    .header{
    background-color:rgb(12, 8, 8);
    }
    h3{
        color:#fff;
        text-align: center;   
    }
}